.header-container {
  width: 100%;
  max-width: 100%;
  height: 100%;
  .header-holder {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .info-holder {
      width: 33.188rem;
      max-width: 50%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      h1 {
        font-size: 3.75rem;
      }
      p {
        font-size: 1.25rem;
        font-weight: 400;
      }
      button {
        width: 16.5rem;
        height: 4.25rem;
        background-color: var(--black);
        color: var(--grey);
        border-radius: 14px;
        font-size: 1.25rem;
        cursor: pointer;
      }
    }
    .illutration {
      width: 37.529rem;
      height: 32.188;
    }
    &.partner {
      padding: 4rem 0;
      .partner-logo {
        width: 7.757rem;
        height: 3rem;
        mix-blend-mode: luminosity;
      }
    }
  }
}
